@model IEnumerable<ListORama.Models.ListGroupUser>

@{
}

<table class="table" id="tblUsers">
    <thead>
        <tr>
            <th>
                <h6 class="border-bottom border-gray pb-2 mb-0">
                    Name
                </h6>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @ViewBag.GroupData as IEnumerable<ListGroupUser>)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.user.lastName),&nbsp;
                    @Html.DisplayFor(modelItem => item.user.firstName)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.listGroupUserID">Edit</a> |*@
                    @*<a asp-action="Details" asp-route-id="@item.listGroupUserID">Details</a> |*@
                    <!-- <a asp-action="Delete" asp-route-id="@item.listGroupUserID">Delete</a>-->
                    <a asp-action="Delete" asp-route-id="@item.listGroupUserID" data-toggle="tooltip" title="Delete User">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" aria-hidden="true" viewBox="0 0 448 512"
                             focusable="false" data-icon="trash-alt" data-prefix="fas">
                            <path fill="#1c96dc" d="M 32 464 a 48 48 0 0 0 48 48 h 288 a 48 48 0 0 0 48 -48 V 128 H 32 Z m 272 -256 a 16 16 0 0 1 32 0 v 224 a 16 16 0 0 1 -32 0 Z m -96 0 a 16 16 0 0 1 32 0 v 224 a 16 16 0 0 1 -32 0 Z m -96 0 a 16 16 0 0 1 32 0 v 224 a 16 16 0 0 1 -32 0 Z M 432 32 H 312 l -9.4 -18.7 A 24 24 0 0 0 281.1 0 H 166.8 a 23.72 23.72 0 0 0 -21.4 13.3 L 136 32 H 16 A 16 16 0 0 0 0 48 v 32 a 16 16 0 0 0 16 16 h 416 a 16 16 0 0 0 16 -16 V 48 a 16 16 0 0 0 -16 -16 Z" />
                        </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
