@model IEnumerable<ListORama.Models.ListGroupUser>

@{
}

<table class="table" id="tblUsers">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @ViewBag.GroupData as IEnumerable<ListGroupUser>)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.user.lastName),&nbsp;
                    @Html.DisplayFor(modelItem => item.user.firstName)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.listGroupUserID">Edit</a> |*@
                    @*<a asp-action="Details" asp-route-id="@item.listGroupUserID">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.listGroupUserID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
